extends ../layaout/index
block contenido
     main.container.mt-5
          .row
               .col-md-5
                 img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
               .col-md-7
                    h1.text-center.mb-5 #{pagina}
                    blockquote ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, eros sed gravida maximus, eros turpis lobortis enim, vitae egestas ante diam eu orci. Morbi vel metus aliquam, egestas massa in, pharetra nunc. Nullam vel nisi sit amet lacus vehicula tempus. Aliquam nulla odio, pretium ac lobortis vitae, tempus eu arcu.
                    p elementum ex non arcu venenatis, commodo rutrum ligula ultrices. Sed dignissim ipsum vehicula blandit ultrices. Integer tristique risus id sem fermentum semper. Integer tempus varius ultricies. Vivamus non elit tincidunt, pretium elit sed, pharetra metus. Aenean ut hendrerit purus, sit amet dignissim nisi.
                    P Nunc tincidunt lacinia mollis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed maximus eget urna ultrices molestie. Ut hendrerit porttitor aliquam. Sed tincidunt aliquam ultricies. Nulla viverra efficitur leo, vitae imperdiet nisl rutrum vitae. Nulla tortor tellus, laoreet eu turpis sit amet, dictum laoreet velit. Sed id odio sed enim molestie accumsan sit amet vel mi.
     .listado-iconos
          .container.mt-5.py-5.text-center 
               .row
                    .col-md-4      
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")  
                         h1.mb-4 Seguridad
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur nostrum, nam temporibus ullam iure ea hic labore. 
                    .col-md-4      
                         img(src="img/icono_destinos.svg", class="img-fluid mb-4")  
                         h1.mb-4 Mejores Destinos
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur nostrum, nam temporibus ullam iure ea hic labore. 
                    .col-md-4      
                         img(src="img/icono_seguridad.svg", class="img-fluid mb-4")  
                         h1.mb-4 Mejores Precios
                         p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi aspernatur nostrum, nam temporibus ullam iure ea hic labore. 